//= require store/spree_core

maxFromDb = <%= Spree::Suggestion::Config.rows_from_db %>
maxToDisplay = <%= Spree::Suggestion::Config.rows_to_display %>
suggestOn = '<%= Spree::Suggestion::Config.field %>'

$.ui.autocomplete::_renderItem = (ul, item) ->
  item.label = item.label.replace(new RegExp("^(" + $.ui.autocomplete.escapeRegex(@term) + ")", "gi"), "<strong>$1</strong>")
  $("<li></li>").data("item.autocomplete", item).append("<a>" + item.label + "</a>").appendTo ul

$ ->
  cache = {}
  $("input[name="+suggestOn+"]").autocomplete
    source: (request, response) ->
      term = request.term.toLowerCase()

      foundInCache = false
      $.each cache, (key, data) ->
        if term.indexOf(key) is 0 and data.length < maxFromDb
          response $.ui.autocomplete.filter(data, term).slice(0, maxToDisplay)
          foundInCache = true
          return

      return if foundInCache

      $.getJSON "/suggestions", request, (data) ->
        cache[term] = data
        response data.slice(0, maxToDisplay)

    minLength: 1
